* {
    box-sizing: border-box;
}

body {
    background-color: peachpuff;
}

.links li{
    margin: 10px 0;
}

.caption {
    text-align: center;
}

.heading {
    color: cadetblue;
    font-family: cursive;
    text-align: center;
    margin: 16px;
    font-size: 48px;
}

.links {
    display: block;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 16px auto;
    list-style-type: circle;
    border: 4px solid white;
    width: 200px;
    padding: 20px 40px;
    
}

.homeimage {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border: lavender solid 2px;
}

.recipeimage {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: auto;
}

.recipetitle {
    text-align: center;
}

.recipebody {
    margin: 0 auto;
    max-width: 800px;
}

.return {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 24px auto;
    padding: 20px 20px;
    background-color: peachpuff;
    
}

.return:hover {
    background-color:rgb(254, 207, 166) ;
    transition: 0.1s;
}